* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;

}

.card {
    width: 90%;
    max-width: 470px;
    background: rgb(159,94,123);
    background: linear-gradient(90deg, rgba(159,94,123,1) 0%, rgba(169,148,233,1) 100%);    
    margin: 100px auto 0;
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    width: calc(50% - 40px)
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 40px;
    height: 40px;
}

.weather-icon h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.weather h1{
    font-size: 40px;
    font-weight: 500;
}

.weather h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 600px) {
    .card {
        padding: 20px; /* Reduce padding for smaller screens */
    }

    .search input {
        width: calc(100% - 80px); /* Adjust width of input fields */
        margin-right: 0; /* Remove margin-right for input fields */
    }

    .search button {
        margin-left: auto; /* Move search button to the right */
    }
}
